*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #33242f;
}

main {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #fff0fb;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.underline {
  height: 0.1rem;
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff0fb;
}

.user {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 4rem auto;
}

.user img {
  width: 80px;
  height: 100%;
  object-fit: cover;
  margin-right: 2rem;
  border-radius: 0.25rem;
}

.user li {
  display: flex;
  align-items: center;
  background: #4c3547;
  color: #fff0fb;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px #191218;
  transition: all 0.5s linear;
  cursor: pointer;
}

.user li:hover {
  transform: scale(1.05);
}

.user div h4 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.user div a {
  color: #fff;
}
